<header class="clearfix">
    <div class="container">
        <div class="header-left">
            <h1>My company</h1>
        </div>
        <div class="header-right">
            <label for="open">
                <span class="hidden-desktop"></span>
            </label>
            <input type="checkbox" name="" id="open">
            <nav>
                <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
                <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
                <a routerLink="/diary" routerLinkActive="active">Diary</a>
                <a routerLink="/about" routerLinkActive="active">About us</a>
            </nav>
        </div>
    </div>
</header>
<section class="clearfix">
    <div class="container">
        <div class="section-left">
            <h1 class="section-title">Title......</h1>
            <h5 class="section-tagline">Sub Title........</h5>
        </div>
        <div class="section-right">
            <button class="learn-more">Learn more</button>
        </div>
    </div>
</section>